/* banner-main.css */
.banner-imagen {
    width: 100%;
    height: 1000px; /* La imagen cubrirá toda la altura de la pantalla */
    background-image: url('/images/banner-principal.jpg');
    background-size: cover; /* La imagen cubrirá todo el contenedor */
    background-position: center;
    background-repeat: no-repeat;
    display: flex; /* Flexbox para alinear contenido */
    flex-direction: column;
    justify-content: top; /* Centrar contenido verticalmente */
    align-items: center; /* Centrar contenido horizontalmente */
}

.banner-main h1 {
    position: relative;
    color: white;
    font-size: 5rem;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 190px;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Agregar sombra al texto para mayor visibilidad */
}

.banner-main h1 span{
    color: rgb(117, 179, 250);
}

.banner-main button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    z-index: 1;
    margin-left: 50px;
    border-radius: 15px;
    border: 0px;
    background-color: rgb(117, 179, 250);
    color: white;
    font-size: 34px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.banner-main button:hover{
    background-color: white;
    color: rgb(117, 179, 250);
}
