.footer{
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    background-color: #80c2c8;
}

ul li a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: rgb(0, 0, 0);
}

.footer div{
    width: 300px;
    text-align: center;
}

.info ul li{
    text-align:start;
}