.footer{
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(117, 179, 250);
}

ul li a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: rgb(255, 255, 255);
}