.footer {
    padding-top: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-image: url(/images/footer.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 710px;
    flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea si no hay suficiente espacio */
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    color: rgb(0, 0, 0);
}

.footer div {
    width: 300px;
    text-align: center;
    max-width: 300px;
    margin-bottom: 20px; /* Espacio entre secciones */
}

.info ul {
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina los márgenes */
}

.info ul li {
    margin-bottom: 10px; /* Espacio entre los ítems */
    text-align: left; /* Alinea el texto a la izquierda */
}

.info ul li a:hover{
    color: white;
}

.redes a i {
    font-size: 40px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease; /* Efecto de transición para el hover */
}

.icon-redes {
    display: flex;
    flex-wrap: wrap; /* Permite que los íconos pasen a la siguiente fila si no hay espacio */
    justify-content: center;
    gap: 15px; /* Espaciado entre íconos */
}

.icon-redes a i:hover {
    color: white;
}

/* Media query para pantallas más pequeñas como móviles */
@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Coloca los divs en una sola columna */
        align-items: center; /* Centra los elementos en la pantalla */
        height: auto; /* Altura ajustable al contenido */
        padding-bottom: 20px; /* Espacio inferior para móviles */
    }

    .footer div {
        width: 90%; /* Los divs ocupan casi todo el ancho de la pantalla */
        margin: 10px 0; /* Espacio vertical entre secciones */
        text-align: center; /* Centra el texto en dispositivos móviles */
    }

    .info ul li {
        text-align: center; /* Centra los ítems de la lista en móviles */
    }

    .icon-redes {
        justify-content: center; /* Centra los íconos sociales */
        flex-direction: column;
    }

    .icon-redes a i {
        font-size: 40px; /* Reduce el tamaño de los íconos en móviles */
    }

    h3 {
        font-size: 1.2rem; /* Ajusta el tamaño de los títulos */
        margin-bottom: 10px; /* Espacio inferior entre el título y el contenido */
    }

    h5 {
        font-size: 1rem; /* Ajusta el tamaño del texto en la sección de contacto */
        margin-bottom: 5px; /* Espacio entre líneas */
    }
}

@media (min-width: 1800px) {
    .footer{
        background-position: top;
        height: 1000px;
    }
}