
/* Cambiar el background a transparente */
header {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.137) ); /* Ajuste aquí */
    padding: 30px;
    text-align: center;
    z-index: 1;
    position: relative;
    margin-top: 0px;
    display: flex;
    justify-content:space-between;
    position: fixed;
}

.header-links , .nav-item{
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.header-links a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    width: 100%;
}


.header-links a:hover{
    color: rgb(117, 179, 250);
    text-decoration: underline rgb(117, 179, 250);
}

.number a i{
    color: white;
    font-size: 35px;
    padding-top: 5px;
}

.number a i:hover{
    color: #25d366;
}

.dropdown-menu{
    z-index: 1!important;
}

.dropdown-item{
    z-index: 2;
}

.logo .fa-solid{
    font-size: 3rem;
    color: white;
}

